.users_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 20px;
    max-width: 38em;
    margin: auto;
}

.page_users_wrapper {
    display: grid;
    padding: 15px 0;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 10px 0;
}

.userPile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8cbb850;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    max-height: 220px;
    min-height: 190px;
    min-width: 180px;
}

.status_block {
    font-size: 80%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    overflow-y: auto;
    word-break: break-all;
    max-width: fit-content;
}

.userPile button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.userPile button:disabled{
    color: gray;
}

.follow_button {
    background-color: #B0CBCA60;
}

.unfollow_button {
    background-color: #C3B0CB60;
}

.pages {
    margin: 10px;
    text-align: center;
    overflow-x: auto;
}

.active_page {
    font-weight: bold;
    cursor: default;
    padding: 0 7px;
}

.inactive_page {
    font-weight: normal;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 7px;
}

.inactive_page:hover {
    background-color: var(--main-color60);
}

.arrow_button{
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    padding: 4px;
}

.arrow_button:hover{
    background-color: var(--main-color80);
}

.userName_block{
    text-align: center;
}

@media (max-width: 750px) and (min-width: 540px) {
    .users_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 539px) {
    .users_wrapper {
        grid-template-columns: 1fr;
    }
}