.profileHeader{
    display: grid;
    grid-template-columns: 70% 30%;
    min-width: 40em;
}

.profile_status{
    display: flex;
}

.description{
    margin: 8px 20px;
    background-color: #b8cbb850;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    flex-grow: 1;
}

.description_input{
    margin: 8px 20px;
    padding: 18px;
    border: solid 1px var(--main-color);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    flex-grow: 1;
    outline: none;
}

.back_profile{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
    margin-top: 15px;
}

.back_profile img{
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    width: 94%;
    transform: translate(-50%, -50%);
}

.avatar{
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 35px;
    /* border-styles: solid;
    border-width: 3px;
    border-color: #b8cbb8; */
}

.avatar img{
    position: absolute;
    object-fit: cover;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name{
    text-align: center;
    margin: auto;
}

@media (max-width: 950px) {
    .profileHeader{
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        align-items: center;
        justify-items: center;
        min-width: auto;
    }
}