.dialogs{
    display: grid;
    grid-template-columns: 26% 80%;
    grid-template-rows: 500px;
    margin: 15px 40px;
    width: 80%;
}

.dialogs_list{
    margin: 10px;
    padding: 10px;
    /* background-color: #b8cbb860; */
    border-radius: 10px;
    width: 120px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #b8cbb8;
}

.messages_block{
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: 9fr 1fr;
}

.messages_block__messages{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.contact{
    display: inline-flex;
}

.contact :hover{
    background-color: #b8cbb820;
    border-radius: 5px;
}

.contact_link.contact_activelink{
    background-color: #b8cbb880;
    border-radius: 5px;
}

.contact_link{
    text-decoration: none;
    padding: 12px 5px;
    width: 100%;
}

.message{
    margin: 10px 0;
    border-radius: 20px;
    background-color: rgb(239, 239, 239);
    padding: 20px;
    width: 45%;
    min-width: fit-content;
}

.message.self{
    align-self: flex-end;
    background-color: rgb(248, 248, 248);
}

.messages_block__submit_text{
    display: block; 
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    border: 1px solid #b8cbb880;
    border-radius: 10px;
    outline: none;
    resize: none;
    padding: 10px;
}

.messages_block__submit_button{
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 7px;
    cursor: pointer;
    width: auto;
    background: #b8cbb860;
    margin: 7px 0;
    float: right;
}

@media (max-width: 1160px){
    .dialogs{
        grid-template-columns: 31% 83%;
    }
}

