header{
    grid-area: head;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    background-color: #b8cbb8;
  }

.header_block{
    position: absolute;
    margin-left: 25px;
    margin-top: 15px;
    font-size: larger;
}