header{
    grid-area: head;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    background-color: var(--main-color);
    display: grid;
    align-items: center;
  }

header a{
  text-decoration: none;
  cursor: pointer;
}

.header_block{
    position: absolute;
    margin-left: 25px;
    font-size: larger;
}

.header_link{
  float: right;
  margin-right: 25px;
}
