.wall{
    margin-top:45px;
    margin-bottom: 60px;
}

.submit_box{
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin: 15px;
    justify-content: space-around;
    border: solid 2px #b8cbb8;
}

.submit_area{
    display: block; 
    width: 85%;
    box-sizing: border-box;
    height: 70px;
    border: 0px;
    outline: none;
    resize: none;
    padding: 10px;
    margin-left: 15px;
}

.submit_button{
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 4px;
    cursor: pointer;
    margin: 10px;
    width: 20%;
    min-width: 70px;
}
