.login_name{
    margin-bottom: 10px;
}

.login_form{
    display: flex;
    flex-direction: column;
}

.login_form *:not(.error_message):not(label){
    padding: 5px;
    margin-bottom: 3px;
}

.error_message{
    font-size: small;
    text-align: center;
    color: red;
}

.remember_area{
    display: flex;
    align-items: center;
}
