:root{
  --main-color: #b8cbb8;
}


* {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(83, 62, 55);
  font-weight: bold;
}

.wrapper{
  display: grid;
  grid-template-areas: " head head head"
  "fblock cont menu";
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 65px 1fr;
  background-color: #ffffff;
}


