
* {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(83, 62, 55);
  font-weight: bold;
}

.wrapper{
  display: grid;
  grid-template-areas: "head head"
  "cont menu";
  grid-template-columns: 90% 10%;
  grid-template-rows: 65px 1fr;
  background-color: #ffffff;
}

.menu{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  grid-area: menu;
  border-top: 0;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.menu_block{
  margin: 10px;
  padding: 10px;
  width: 2vw;
  height: 2vw;
  text-align: center;
  border-width: 5px;
  border-style: solid;
  background-color: #7edbdc;
  border-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%) 1 100%;
}

.content{
  display: flex;
  justify-content: center;
  grid-area: cont;
  border-top: 0;
  border-right: 0;
  align-items: center;
}

header{
  grid-area: head;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
  margin: 10px;
  padding: 7px;
}

